In [1]:
import pandas as pd

# Task 1.

In [2]:
_movies = pd.read_csv('C:\\Users\\vinog\\Desktop\\Docs\\ml-latest-small/movies.csv')
_ratings = pd.read_csv('C:\\Users\\vinog\\Desktop\\Docs\\ml-latest-small/ratings.csv')

In [3]:
ratings = _ratings[['movieId', 'rating']].query('rating == 5.0').groupby('movieId').count().sort_values('rating', ascending=False)

In [4]:
movies = _movies.set_index('movieId')

In [5]:
%%time
ratings.merge(movies, how='left', left_index=True, right_index=True, sort=False).head(1)

Wall time: 2.02 ms

         rating                             title       genres
movieId
318         153  Shawshank Redemption, The (1994)  Crime|Drama

# Task 2.

In [6]:
_power = pd.read_csv('C:\\Users\\vinog\\Desktop\\Docs\\ml-latest-small/power.csv')

In [7]:
_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [8]:
_q = _power.query('(country == "Latvia"|country == "Litva"|country == "Estonia") & (category == 4 | category == 12 | category == 21) & (year >= 2005 & year <= 2010) & quantity >= 0')

In [9]:
sum(_q["quantity"])

118284.0

# Task 3.

In [10]:
_html = pd.read_html('https://fortrader.org/quotes')

In [11]:
#_html

In [12]:
_html[0]

                               Type    Last  Chg.  Chg.%  Time
0  Нефть (BRENT) Курс нефти сегодня  60.100  0.00   0.00   NaN
1   Нефть (WTI) Цены на нефть (WTI)  54.820  0.05   0.09   NaN
2          Сахар котировки на сахар  12.630  0.00   0.00   NaN
3                   Газ Цена на газ   2.608  0.00   0.00   NaN